In [20]:
import pandas as pd #для работы с таблицами
from IPython.display import display
from numpy.random import rand
import wget
from statsmodels.stats import weightstats

# Тесты
from scipy.stats import shapiro # Тест Шапиро-Уилка
from scipy.stats import normaltest # Тест Д'Агостино
from scipy.stats import ttest_ind # Независимый Т-тест

# Корреляция
from scipy.stats import spearmanr

In [24]:
data = pd.read_csv('data/new_site.csv', sep='\s+')
data

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

In [16]:
# Чему равно суммарное время пребывания на сайте в группах А и В? Ответ вводите без пробелов
data.groupby('site')['dwell-time'].sum()

site
0    16898
1    10032
Name: dwell-time, dtype: int64

In [18]:
# Чему равно среднее время пребывание на сайте в группах? Ответ округлите до целых.
data.groupby('site')['dwell-time'].mean().round(0)

site
0    91.0
1    88.0
Name: dwell-time, dtype: float64

In [21]:
# Проведите тестирование при следующих нулевой и альтернативной гипотезе

H0 = 'Среднее время пребывания в группах А и B равны.'
H1 = 'Среднее время пребывания в группе А больше, чем в группе B.'
_ ,p = weightstats.ztest(data[data['site']==0]['dwell-time'], x2=data[data['site']==1]['dwell-time'], value=0,alternative='two-sided')
print(float(p))


if p < 0.05:
    print("Мы отвергаем нулевую гипотезу")
else:
    print("Мы не можем отвергнуть нулевую гипотезу")

0.8136645546620853
Мы не можем отвергнуть нулевую гипотезу об отсутсвии различий между данными.

In [42]:
data[data['site']==1].count()

site          114
dwell-time    114
dtype: int64

In [40]:
data0 = pd.DataFrame(data[data['site']==0]['dwell-time'].reset_index())
data1 = pd.DataFrame(data[data['site']==1]['dwell-time'].reset_index())
data0.rename(columns={'dwell-time':'dwell-time0'},inplace=True)
data1.rename(columns={'dwell-time':'dwell-time1'},inplace=True)
datanew = pd.concat([data0, data1], axis=1)

datanew

     index  dwell-time0  index  dwell-time1
0        0            2    1.0         48.0
1        2           15    3.0         16.0
2        4           38    5.0        169.0
3        6          571    7.0         38.0
4        8          233   10.0        336.0
..     ...          ...    ...          ...
181    294           39    NaN          NaN
182    295           22    NaN          NaN
183    296            7    NaN          NaN
184    298           89    NaN          NaN
185    299          138    NaN          NaN

[186 rows x 4 columns]

In [45]:
# Каковы результаты статистического теста на нормальность при уровне значимости a=0.05?



H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
alpha = 0.05

_, p = shapiro(data1)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)