# **Аттестационное задание**

In [2]:
# выгрузка библиотек
import pandas as pd
from IPython.display import display

In [4]:
# чтение таблицы
solar_data = pd.read_csv('data/solarpower.csv')
solar_data

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [11]:
# В нашем временном ряде есть несколько пропусков, они обозначены числом -1.
# Заполните пропуски средним арифметическим между двумя соседними наблюдениями:
for i in range(0,solar_data.shape[0]):
    if solar_data.iloc[i,1]==-1:
        solar_data.iloc[i,1]=(solar_data.iloc[i-1,1]+solar_data.iloc[i+1,1])/2
solar_data['cum_power'].mean().round(0)

23848.0

In [20]:
# Теперь, когда таблица заполнена, создайте столбец day_power — ежедневная выработка солнечной энергии.
# Далее создайте данные о средней ежедневной выработке энергии на каждый месяц-год.
day_power = solar_data['cum_power'].diff()
solar_data["day_power"]=day_power.fillna(0)
solar_data["month_year"] = pd.to_datetime(solar_data['date']).dt.to_period("M")

grouped_by_month = solar_data.groupby(by="month_year", as_index=False)['day_power'].mean().round(0)
display(grouped_by_month)

   month_year  day_power
0     2017-01        3.0
1     2017-02        4.0
2     2017-03       11.0
3     2017-04       16.0
4     2017-05       19.0
5     2017-06       22.0
6     2017-07       18.0
7     2017-08       15.0
8     2017-09       12.0
9     2017-10        6.0
10    2017-11        3.0
11    2017-12        1.0
12    2018-01        2.0
13    2018-02        7.0
14    2018-03        9.0
15    2018-04       15.0
16    2018-05       21.0
17    2018-06       19.0
18    2018-07       22.0
19    2018-08       17.0
20    2018-09       14.0
21    2018-10        9.0