# **Закрепление знаний**

Представьте, что вас срочно вызвали на новый проект, так что теперь вы — дата-сайентист в туристической фирме.
Компания планирует запустить новую акцию, чтобы продать как можно больше туров. Команда разработала два варианта посадочной страницы официального сайта компании и провела A/B-тестирование. В результате проведения эксперимента собраны [**данные**](https://lms.skillfactory.ru/assets/courseware/v1/c5e135f1dc26e5f342916b8ab78357f1/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/ab_data_tourist.zip).

Вам предстоит решить настоящую бизнес-задачу: проанализировать эффективность обоих вариантов посадочной страницы сразу по двум критериям: **конверсии** покупки и **среднему чеку**. На основе проведённого анализа необходимо сделать выводы и принять решение: какой из вариантов дизайна более предпочтительный.

* **user_id** идентификатор пользователя, зашедшего на сайт
* **date**	дата захода
* **group**	группа теста (контрольная — А или тестовая — B)
* **purchase**	признак покупки: совершил ли пользователь покупку тура (1 — да, 0 — нет)
* **price**	цена купленного тура (если покупка не состоялась, цена равна 0)

In [1]:
# импортируем библиотеки, которые нам пригодятся:
from IPython.display import display
import pandas as pd

from scipy.stats import norm
from scipy.stats import t

In [3]:
data = pd.read_csv('data/ab_data_tourist.csv')
data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000