# Фильтрация данных в DataFrame

Под фильтрацией в DataFrame подразумевается получение новой таблицы путём вырезания строк, не удовлетворяющих поставленному условию

Классический способ фильтрации в DataFrame — фильтрация с помощью масок  
Маской называется Series, которая состоит из булевых значений, при этом значения True соответствуют тем индексам, для которых заданное условие выполняется, в противном случае ставится значение False (например, цена > 2 млн)

In [10]:
import pandas as pd
from IPython.display import display
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

In [11]:
# Создадим маску и положим её в переменную с именем mask
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [12]:
# Для фильтрации нужно просто подставить переменную mask в индексацию DataFrame
display(melb_data[mask].head()) # В результате выполнения фильтрации возвращается новый DataFrame

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [13]:
# Можно сразу вставлять условие в операцию индексации
melb_data[melb_data['Price'] > 2000000]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.84810,144.94990,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.84470,144.95230,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.84220,144.95540,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.84150,144.95850,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.84360,144.95570,Southern Metropolitan,3280,"-37.8436, 144.9557"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13521,13521,Port Melbourne,44 Garton St,4,t,2455000.0,SP,Marshall,26/08/2017,3.5,...,2,123.0,0.0,2010,NaN,-37.83349,144.94840,Southern Metropolitan,8648,"-37.83349, 144.9484"
13523,13523,Prahran,69 Greville St,4,h,2668000.0,S,Biggin,26/08/2017,4.6,...,2,383.0,126.0,1970,NaN,-37.84879,144.98882,Southern Metropolitan,7717,"-37.84879, 144.98882"
13553,13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,...,2,1005.0,126.0,1920,NaN,-37.82421,145.10352,Southern Metropolitan,5457,"-37.82421, 145.10352"
13555,13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,...,3,832.0,126.0,1970,NaN,-37.83564,145.10919,Southern Metropolitan,5457,"-37.83564, 145.10919"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"

In [14]:
# Найдём количество зданий с тремя комнатами
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [16]:
# Найдём число трёхкомнатных домов с ценой менее 300 тысяч
melb_data[(melb_data['Rooms'] == 3)&(melb_data['Price'] < 300000)].shape[0]

3

In [17]:
# Дома с ценой менее 300 тысяч, у которых либо число комнат
# равно 3, либо площадь домов более 100 квадратных метров
melb_data[(melb_data['Price'] < 300000)&((melb_data['Rooms'] == 3)|(melb_data['BuildingArea'] > 100))].shape[0]

68

!!! операторы and и or для такого не предназначены (только & и |)

Фильтрацию часто сочетают со статистическими методами.

In [21]:
# Максимальное количество комнат в таунхаусах
melb_data[melb_data['Type'] == 't']['Rooms'].max() # сначала создаём датафрейм по маске, а потом выбираем из него сириэс по названию столбца "румс"

5

In [24]:
# Найдём медианную площадь здания у объектов, чья цена выше средней
melb_data[melb_data['Price'] > melb_data['Price'].mean()]['BuildingArea'].median()

126.0

Задачи

In [25]:
# У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [27]:
# Сколько в таблице melb_data объектов недвижимости, которые были проданы
# риелторской компанией Nelson и стоимость которых составила больше 3 миллионов
melb_data[(melb_data['SellerG'] == 'Nelson')&(melb_data['Price'] > 3000000)].shape[0]

5

In [28]:
# Какова минимальная стоимость участка без здания (площадь здания равна 0)
melb_data[(melb_data['BuildingArea'] == 0)]['Price'].min()

412500.0

In [29]:
# Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее
# одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года
melb_data[((melb_data['Rooms'] >5)|(melb_data['YearBuilt'] > 2015))&(melb_data['Price'] < 1000000)]['Price'].mean()

769238.6363636364

In [32]:
# В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов
melb_data[(melb_data['Type'] == 'h')&(melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object