In [7]:
import pandas as pd
from IPython.display import display
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
# Каков балл по письму у студента под индексом 155
student_data.loc[155,'writing score']

88

In [14]:
# Сколько суммарно пропущенных значений в таблице
#student_data.info() # здесь видно, что непустые все

In [ ]:
# Сколько столбцов в таблице имеет тип данных object
#student_data.info() # здесь видно, что 5 из 7 - обжэкты

In [ ]:
# Какой объём памяти (в килобайтах) занимает таблица
# student_data.info() # здесь видно, что memory usage: 62.6+ KB

In [16]:
# Каков у студентов средний балл по математике
student_data['math score'].mean()

66.089

In [17]:
# Какая расовая группа является самой крупной в учебном заведении
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [22]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean(),0)

74.0

In [24]:
# Сколько студентов получили 0 баллов по математике
student_data[student_data['math score'] == 0].shape[0]

1

In [27]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
display(round(student_data[student_data['lunch'] == 'standard']['math score'].mean(),0))
display(round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean(),0))

70.0

59.0

In [33]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)
amount_of_bach_parents = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]
display(round(amount_of_bach_parents/student_data.shape[0]*100,0))

12.0

In [38]:
# Насколько медианный балл по письму у студентов в расовой группе А
# отличается от среднего балла по письму у студентов в расовой группе C
median_A_group = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
median_C_group = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
difference = abs(round(median_A_group-median_C_group,0))
display(difference)

6.0