# **SQL**
***
Структура простого запроса:

**SELECT**  
    столбец1 **AS** новое_название,  
    столбец2,  
    столбец3  
**FROM** таблица  
**WHERE** (условие1 **OR** условие2)  
    **AND** условие3  
**ORDER BY** сортировка1, сортировка2  
**OFFSET** 1 **LIMIT** 2  


Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:

* рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
* есть описание;
* название начинается не с буквы 'Т';
* название состоит ровно из 12 символов.
* Оставьте только ТОП-7 по рейтингу.

SELECT movie_title, director, screenwriter,actors  
FROM sql.kinopoisk  
where ((rating **between** 8 and 8.5) or year<1990) and overview **is not null** and movie_title not **like** 'Т%' and movie_title like '____________'  
ORDER BY rating desc  
LIMIT 7  
***

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом **DISTINCT**.

SELECT DISTINCT  
    type1  
FROM sql.pokemon  
***

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию **COUNT**.

SELECT  
    COUNT(*)  
FROM sql.pokemon  

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.  
Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.  
***

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.  
SELECT  
    COUNT(DISTINCT type1)  
FROM sql.pokemon  
***

Назовём основные агрегатные функции, с которыми нам предстоит работать
* **COUNT** — вычисляет число непустых строк;
* **SUM** — вычисляет сумму;
* **AVG** — вычисляет среднее;
* **MAX** — вычисляет максимум;
* **MIN** — вычисляет минимум.

SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'

![результат](https://lms.skillfactory.ru/assets/courseware/v1/f287d1008ae63f1f0f9ac45ad41af163/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/dst3-u2-md2_3_1.png)
***