# **SQL**
***
Структура простого запроса:

**SELECT**  
    столбец1 **AS** новое_название,  
    столбец2,  
    столбец3  
**FROM** таблица  
**WHERE** (условие1 **OR** условие2)  
    **AND** условие3  
**ORDER BY** сортировка1, сортировка2  
**OFFSET** 1 **LIMIT** 2  


Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:

* рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
* есть описание;
* название начинается не с буквы 'Т';
* название состоит ровно из 12 символов.
* Оставьте только ТОП-7 по рейтингу.

SELECT movie_title, director, screenwriter,actors  
FROM sql.kinopoisk  
where ((rating **between** 8 and 8.5) or year<1990) and overview **is not null** and movie_title not **like** 'Т%' and movie_title like '____________'  
ORDER BY rating desc  
LIMIT 7  
***

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом **DISTINCT**.

SELECT DISTINCT  
    type1  
FROM sql.pokemon  
***

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию **COUNT**.

SELECT  
    COUNT(*)  
FROM sql.pokemon  

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.  
Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.  
***

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.  
SELECT  
    COUNT(DISTINCT type1)  
FROM sql.pokemon  
***

Назовём основные агрегатные функции, с которыми нам предстоит работать
* **COUNT** — вычисляет число непустых строк;
* **SUM** — вычисляет сумму;
* **AVG** — вычисляет среднее;
* **MAX** — вычисляет максимум;
* **MIN** — вычисляет минимум.

SELECT
    COUNT(*) AS "всего травяных покемонов",  
    COUNT(type2) AS "покемонов с дополнительным типом",  
    AVG(attack) AS "средняя атака",  
    AVG(defense) AS "средняя защита"  
FROM sql.pokemon  
WHERE type1 = 'Grass'  

![результат](https://lms.skillfactory.ru/assets/courseware/v1/f287d1008ae63f1f0f9ac45ad41af163/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/dst3-u2-md2_3_1.png)
***

**GROUP BY** используется для определения групп выходных строк, к которым могут применяться агрегатные функции

Выведем число покемонов каждого типа.

SELECT /*выбор*/  
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/  
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
GROUP BY type1 /*группировка по столбцу type1*/  
ORDER BY type1 /*сортировка по столбцу type1*/  

Напишите запрос, который выведет:

* число различных дополнительных типов (столбец additional_types_count);
* среднее число очков здоровья (столбец avg_hp);
* сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).
* Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке.
* Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

select  
    type1 primary_type,  
    count(distinct type2) additional_types_count,  
    avg(hp) avg_hp,  
    sum(attack) attack_sum  
from sql.pokemon  
group by type1  
order by count(distinct type2) desc, type1 NULLS FIRST  

**GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT**.
***

Если ключевое слово WHERE определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово [**HAVING**](https://postgrespro.ru/docs/postgresql/11/tutorial-agg).
**Важно! HAVING обязательно пишется после GROUP BY./**

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

SELECT /*выбор*/  
    type1 AS primary_type, /*таблица type1; присвоить алиас primary_type*/  
    AVG(attack) AS avg_attack /*расчёт среднего по столбцу attack; присвоить алиас avg_attack*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
GROUP BY primary_type /*группировать по столбцу primary_type*/  
HAVING AVG(attack) > 90 /*фильтровать по среднему значению attack, превышающему 90*/  
***

В общем виде синтаксис оператора SELECT, с учётом имеющихся на данный момент знаний, представляем следующим образом:

SELECT [ALL | DISTINCT] список_столбцов|*  
FROM список_имён_таблиц  
[WHERE условие_поиска]  
[GROUP BY список_имён_столбцов]  
[HAVING условие_поиска]  
[ORDER BY имя_столбца [ASC | DESC],…]  

В квадратных скобках указаны необязательные предложения: они могут отсутствовать в операторе SELECT.

Напишите запрос, который выводит столбцы с основным типом (primary_type) и числом покемонов этого типа (pokemon_count) для тех покемонов, чьё имя (name) начинается с S.  
Оставьте только типы, у которых средний показатель защиты больше 80.  
Выведите только ТОП-3 типов по числу покемонов в них.  

SELECT  
    type1 primary_type,  
    count(*) pokemon_count  
FROM sql.pokemon  
where name like 'S%'  
GROUP BY primary_type  
HAVING AVG(defense) > 80  
order by pokemon_count desc  
limit 3  

Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).  
Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.  

select  
    type1 primary_type,  
    type2 additional_type,  
    avg(hp) avg_hp,  
    avg(attack) avg_attack,  
    avg(defense) avg_defense,  
    avg(speed) avg_speed  
from sql.pokemon  
group by type1,type2  
having avg(hp)+avg(attack)+avg(defense)+avg(speed)>400  

Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа.  
Учитывайте только тех покемонов, у которых или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно.  
Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125.  
Выведите только тот тип, который находится на пятом месте по количеству покемонов.  

select  
    type1 primary_type,  
    count(*)  
from sql.pokemon  
where attack between 50 and 100 or defense between 50 and 100  
group by type1  
having max(hp)<125  
order by count(*) desc  
offset 4 limit 1