https://docs.google.com/document/d/1IhXM9blN4vfOeCWecisXFpW9JDrOMpsk9hdiacbiNuM/edit?usp=sharing

Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.  
Столбцы к выводу ― genre_name (имя жанра) и movies_count (количество фильмов).  
Результат отсортируйте по второму полю по убыванию.  
select  
    g.name genre_name,  
    count(m.id) movies_count  
from  
    SQLPROTEST.movies m  
left join  
    SQLPROTEST.movie_genres mg on mg.movie_id = m.id  
left join  
    SQLPROTEST.genres g on mg.genre_id = g.id  
group by  
    genre_name  
having    
    count(m.id)>=3  
order by  
    2 desc  



Напишите запрос, с помощью которого можно выбрать фильмы, не относящиеся к жанру 'Криминал'.  
Выведите все столбцы таблицы movies. Результат должен быть отсортирован по названию фильмов по возрастанию.  
select  
    m.*  
from  
    SQLPROTEST.movies m  
left join  
    SQLPROTEST.movie_genres mg on mg.movie_id = m.id  
left join  
    SQLPROTEST.genres g on mg.genre_id = g.id  
    
except  

select  
    m.*  
from  
    SQLPROTEST.movies m  
left join  
    SQLPROTEST.movie_genres mg on mg.movie_id = m.id  
left join  
    SQLPROTEST.genres g on mg.genre_id = g.id  
where  
    g.name='Криминал'  
order by  
    name  


Напишите запрос, который покажет три фильма, у которых есть рейтинг.  
Отсортируйте выборку по возрастанию года выхода фильма.  
Выведите все поля таблицы movies.  
select  
    m.*  
from  
    SQLPROTEST.movies m  
where  
    m.rating is not null  
order by  
    m.year  
limit  
    3  


Напишите запрос, с помощью которого можно вычислить средний рейтинг фильмов в каждом жанре.  
Выведите два столбца: genre_name (название жанра) и average_rating (средний рейтинг).  
Результат отсортируйте по второму полю по убыванию.  
select  
    g.name genre_name,  
    avg(m.rating) average_rating  
from  
    SQLPROTEST.movies m  
join  
    SQLPROTEST.movie_genres mg on mg.movie_id = m.id  
join  
    SQLPROTEST.genres g on mg.genre_id = g.id  
group by  
    genre_name  
order by  
    2 desc  


Напишите запрос, чтобы вывести все названия фильмов и их рейтинги.  
Если рейтинга нет, отобразите 0 для такого фильма. Отсортировать по названию фильма по возрастанию.  
(select  
    name,  
    rating  
from  
    SQLPROTEST.movies m  
where  
    rating is not null  

union  

select  
    name,  
    '0' rating  
from  
    SQLPROTEST.movies m  
where  
    rating is null)  

order by  
    name